@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&disp');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
  }

body{
    background-image: linear-gradient(90deg, #242424 50%, #028f02 50%);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  .navL {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav {
    background-color: #242424;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  
  .logo {
    width: 60px;
    margin-right: 50px;
  }
  
  #nav1 {
    color: rgb(255, 255, 255);
    display: flex;
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    font-size: 17.5px;
    margin-top: 6px;
    margin-left: 4px;
  }
  
  #nav1:hover {
    color: rgb(2, 143, 2);
    border-width: 3px !important; 
    border-color: #ffffff;
  }
  
  #navbarSupportedContent {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
  }
  
  #btnLogin {
    height: 50px;
    margin-right: 5px;
    text-align: right;
    border-width: 2px; 
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-weight: 700;
  }
  
  #btnLogin:hover {
    border-color: rgb(0, 0, 0); 
  
  }
  
  #btnCadastro {
    text-align: right;
    border-width: 2px; 
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-weight: 650;
  
  }
  
  #btnCadastro:hover {
  border-color: rgb(255, 255, 255); 
  }
  
  .form-controlC {
    display: flex;
    justify-content: center;
    width: 320px;
    margin: 0 100px 0 0;
  }
  
  .form-controlC:hover {
    border-color: rgb(36, 216, 0);
  }
  
  
  .imgPesq {
    margin: 2px 3px 0 0;
  }
  
/* SEARCH BAR */   
.box{
  width: 10px;
  height: 50px;
}

.container-2{
  width: 20px;
  vertical-align: middle;
  white-space:nowrap;
  position:relative;
}

.container-2 input#search{
  width: 20px;
  height: 40px;
  background: #ffffff;
  border:none;
  float: left;
  color: #262626;
  padding-left: 35px;
  border-radius: 5px;
  color: #000000;
  transition: width .55s ease;
  margin-top: 6px;
}


.container-2 .icon{
  position: absolute;
  margin-left: 10px;
  margin-top: 14px;
  z-index: 1;
  color: #000000;
}


.container-2 input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 300px;
}

.container-2:hover input#search{
  width: 300px;
}

.container-2:hover .icon{
  color: #000000;
}

.topN {
margin: 0 0 15px 20px;
color: rgba(0,0,0,.8);
font-size: 28px;
}

/* LOGIN */
  .area-Login{
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 100%;
    transform: translate(-110%,-50%);
  }
  
  .Login{
    background-color: #ffffff;
    border-radius: 20px;
    width: 500px;
    padding: 35px;
    flex-direction: column;
    display: flex;
    align-items: center
  }
  
  .Login form{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  .Login input{
    margin-top: 10px;
    background-color: #ffffff;
    padding-left: 10px;
    color: #4e4e4e70;
    height: 45px;
    outline: none;
    border-radius: 8px;
    border: 1px solid;
  }

  .input-submit {
    margin-top: 10px;
    background-color: #ffffff;
    padding-left: 10px;
    color: #4e4e4e70;
    height: 45px;
    outline: none;
    border-radius: 8px;
    border: none !important;
    color: #fff !important;
  }

  .Login p {
    margin-top: 10px;
  }
  
  .Login img{
    width: 200px;
    height: 200px;
  }
  
  input::placeholder{
    color: #000000;
    font-size: 14px;
  }
  
  form [type="submit"]{
    display: block;
    background-color: #37bd32ee;
    font-size: 20px;
    text-transform: uppercase;
    font-family: bold;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }

  form [type="submit"]:hover{
    background-color: #3db839be;
  }
  
  p{
    color: black;
    margin-left: 45px;
  }
  
  a{
    color: #5568FE;
  }