@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&disp');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

body{
  background-color: #f9f9f9 !important;
  }

/* LOGIN */
  .area-Login{
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
  }
  
  .Login{
    background-color: #ffffff;
    border-radius: 20px;
    width: 500px;
    padding: 35px;
    flex-direction: column;
    display: flex;
    align-items: center;
    box-shadow: rgba(1, 192, 33, 0.562) 5px 5px, rgba(10, 218, 44, 0.432) 10px 10px, rgba(44, 247, 78, 0.795) 15px 15px, rgba(7, 243, 46, 0.514) 20px 20px, rgba(16, 230, 52, 0.432) 25px 25px;  
    border: 1px solid rgba(0, 0, 0, 0.13);
  }
  
  .Login form{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  .Login input{
    margin-top: 10px;
    background-color: #ffffff;
    padding-left: 10px;
    color: #4e4e4e70;
    height: 45px;
    outline: none;
    border-radius: 8px;
    border: 1px solid;
  }

  .input-submit {
    margin-top: 10px;
    background-color: #ffffff;
    padding-left: 10px;
    color: #4e4e4e70;
    height: 45px;
    outline: none;
    border-radius: 8px;
    border: none !important;
    color: #fff !important;
  }

  .Login p {
    margin-top: 10px;
  }
  
  .Login img{
    width: 200px;
    height: 200px;
  }
  
  input::placeholder{
    color: #000000;
    font-size: 14px;
  }
  
  form [type="submit"]{
    display: block;
    background-color: #37bd32ee;
    font-size: 20px;
    text-transform: uppercase;
    font-family: bold;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
  }

  form [type="submit"]:hover{
    background-color: #3db839be;
  }
  
  p{
    color: black;
    margin-left: 45px;
  }
  
  a{
    color: #5568FE;
  }

  /* FOOTER */

  footer{
    background-color: #239b3b;
    padding: 50px 35px 20px 35px;
    width: 100%;
    margin-top: 7%;
    bottom: 0;
    left: 0;
}
.container-footer{
    max-width: 1400px;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-col ul{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}

.footer-col ul li{
    margin: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    color: #cecdcd;
}
.container-footer .medias-socias{
    margin-top: 30px;

}
.container-footer .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0 .5s ease;


}
.container-footer .medias-socias a i{
    font-size: 20px;


}
.container-footer .medias-socias a:hover{
    color : #0f4900ce;
    background-color: white;

}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #239b3b;
}
.footer-col .form-sub input::placeholder{
    color: white;

}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;
    transition: all 0.2s ease;
}

button:active {
  transform: scale(0.96);
}

.footer-col .form-sub button:hover {
  background-color: rgb(216, 216, 216);
}

@media (max-width:800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;

    }
}
@media (max-width:600px){
    .footer-col{
        width: 100%;

    }
}

  