@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&disp');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

nav {
  background-image: linear-gradient(45deg, #242424 50%, #028f02 50%);
}

.logo {
  width: 60px;
  margin-right: 50px;
}

#nav1 {
  color: rgb(255, 255, 255);
  display: flex;
  font-weight: 700;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  font-size: 17.5px;
  margin-top: 6px;
  margin-left: 4px;
}

#nav1:hover {
  color: #028f02;
  border-width: 3px !important; 
  border-color: #ffffff;
}

#navbarSupportedContent {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

#btnLogin {
  height: 50px;
  margin-right: 5px;
  text-align: right;
  border-width: 2px; 
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-weight: 700;
}

#btnLogin:hover {
  border-color: rgb(0, 0, 0); 

}

#btnCadastro {
  text-align: right;
  border-width: 2px; 
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-weight: 650;

}

#btnCadastro:hover {
border-color: rgb(255, 255, 255); 
}

.form-controlC {
  display: flex;
  justify-content: center;
  width: 320px;
  margin: 0 100px 0 0;
}

.form-controlC:hover {
  border-color: rgb(36, 216, 0);
}


.imgPesq {
  margin: 2px 3px 0 0;
}


/* SEARCH BAR */   
  .box{
    width: 10px;
    height: 50px;
  }
  
  .container-2{
    width: 20px;
    vertical-align: middle;
    white-space:nowrap;
    position:relative;
  }
  
  .container-2 input#search{
    width: 10px;
    height: 40px;
    background: #ffffff;
    border:none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 35px;
    border-radius: 5px;
    color: #000000;
    transition: width .55s ease;
    margin-top: 6px;
  }

  
  .container-2 .icon{
    position: absolute;
    margin-left: 10px;
    margin-top: 14px;
    z-index: 1;
    color: #000000;
  }


  .container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 250px;
  }
  
  .container-2:hover input#search{
    width: 250px;
  }
  
  .container-2:hover .icon{
    color: #000000;
  }

.topN {
  margin: 0 0 15px 20px;
  color: rgba(0,0,0,.8);
  font-size: 28px;
}

/* ASSINATURA */
.assinaturaDiv {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.assinatura h3 {
  font-size: 25px;
  margin-top: 5px;
  margin-left: 18px;
}

.assinatura button {
  margin-left: 18px;
}


/* NOTÍCIAS */
.noticias-1 {
  width: 90%;
  margin: 0 0 0 85px;
}

.noticias-wraper-1 {
  display: flex;
  width: 100%;
  
}

.noticia-destaque {
  width: 80%;
  padding-top: 20%;
  background-color: #222;
  border: 2px solid white;
  position: relative;
}

.noticia-destaque h3{
  pointer-events: none;
}

.noticia-destaque-single {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.noticia-destaque-single h3 {
  padding: 10px;
  color: white;
  background-color: rgb(0,0,0,0.6);
  font-weight: 700;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.outras-noticias-1 {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  
}

.outras-noticias-1 h3 {
  pointer-events: none;
}

.outras-noticias-1-single {
  width: 90%;
  padding-top: 30%;
  background-size: cover;
  background-position: center;
  border: 2px solid white;
  background-color: #222;
  position: relative;
  background-image: url('https://oneftbl-cms.imgix.net/https%3A%2F%2Fwp-images.onefootball.com%2Fwp-content%2Fuploads%2Fsites%2F13%2F2023%2F08%2FGetafe-CF-v-FC-Barcelona-LaLiga-EA-Sports-1692962490-1000x750.jpg?auto=format%2Ccompress&crop=faces&dpr=2&fit=crop&h=630&q=25&w=840&s=0564c172eb0040294bcdd3e1d7e48131');
}

.outras-noticias-1-single h3 {
  color: white;
  width: 100%;
  background-color: rgb(0,0,0,0.6);
}

.outras-noticias-2-single {
  width: 90%;
  padding-top: 30%;
  background-size: cover;
  background-position: center;
  border: 2px solid white;
  background-color: #222;
  position: relative;
}

.outras-noticias-2-single h3 {
  color: white;
  width: 100%;
  background-color: rgb(0,0,0,0.6);
}

.outras-noticias-3-single {
  width: 50%;
  padding-top: 30%;
  background-size: cover;
  background-position: center;
  border: 2px solid white;
  background-color: #222;
  position: relative;
}

.outras-noticias-3-single h3 {
  color: white;
  width: 100%;
  background-color: rgb(0,0,0,0.6);
}

.outras-noticias-4-single {
  width: 50%;
  padding-top: 30%;
  background-size: cover;
  background-position: center;
  border: 2px solid white;
  background-color: #222;
  position: relative;
}

.outras-noticias-4-single h3 {
  color: white;
  width: 100%;
  background-color: rgb(0,0,0,0.6);
}

.noticia-destaque:hover .noticia-destaque-single {
  transform: scale(1.1)
}

/* EFEITO ZOOM */

.noticia-destaque-single {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.noticia-destaque-single:hover {
	z-index: 10;
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  border: 1px solid white;

}

.noticia-destaque-single:hover h3 {
  background-color: #000000;
}

.outras-noticias-1-single:hover h3 {
  background-color: #000000;
}

.outras-noticias-2-single:hover h3 {
  background-color: #000000;
}



.outras-noticias-1-single {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.outras-noticias-1-single:hover {
	z-index: 10;
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.outras-noticias-2-single {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.outras-noticias-2-single:hover {
  z-index: 10;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.outras-noticias-3-single {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.outras-noticias-3-single:hover {
  z-index: 10;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.outras-noticias-4-single {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.outras-noticias-4-single:hover {
  z-index: 10;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.outras-noticias-1 h3 {
	color: #ffffff;
	font-weight: 700;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

/* CARDS NOTÍCIAS */
main.cards {
  display: flex;
  padding: 32px;
  width: 100%;
  cursor: default;
}

.card:first-child {
  margin-left: 0;
}
.card {
  margin-left: 30px !important;
}

.card:first-child {
  margin-left: 0 !important;
}

.cardU {
  height: 165px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
} 

.icon img {
  max-width: 100%;
  width: 220px;
  height: 165px;
  object-fit: cover;
  border-radius: 3px;
}

.not-title span {
  font-size: 15.5px;
  justify-content: initial;
  text-transform: uppercase;
}

.not-title {
  width: 200px;
  height: 60%;
  padding-bottom: 2px;
  margin: 9px 0px 0 0px;
}

/* TABELA CAMPEONATO */

table {
  border-collapse: collapse;
}
th, td {
  border-bottom: 1px solid #a8a8a8;
  text-align: center !important;
}
th {
  background-color: #ffffff;
}
tr:nth-child(even) {
  background-color: #ffffff;
}
table{
      width: 400px;
      padding: 10px;
  }
  th{
      color: rgb(10, 10, 10);
  }
  .circle-container {
  display: flex;
}
.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 7px;
}
.circle.circle-green {
  background-color: #127315;
}
.circle.circle-gray {
  background-color: #a7a7a7;
}
.circle.circle-green {
  background-color: #006100;
}
.circle.circle-gray {
  background-color: #a7a7a7;
}
.circle.circle-green {
  background-color: #006600;
}

.circle2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.circle.circle-green {
  background-color: #127315;
}
.circle.circle-gray {
  background-color: #127315;
}
.circle.circle-red {
  background-color: #b50000;
}
.circle.circle-gray {
  background-color: #127315;
}
.circle.circle-green {
  background-color: #127315;
}

.circle3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.circle.circle-green {
  background-color: #127315;
}
.circle.circle-red {
  background-color: #b50000;
}
.circle.circle-gray {
  background-color: #a7a7a7;
}
.circle.circle-green {
  background-color: #127315;
}
.circle.circle-gray {
  background-color: #a7a7a7;
}

.circle4 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.circle.circle-green {
  background-color: #127315;
}
.circle.circle-green {
  background-color: #127315;
}
.circle.circle.circle-gray {
  background-color: #a7a7a7;
}
.circle.circle-red {
  background-color: #b50000;
}
.circle.circle-green {
  background-color: #127315;
}

.circle5 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.circle.circle-red {
  background-color: #b50000;
}
.circle.circle-green {
  background-color: #127315;
}
.circle.circle-green {
  background-color: #127315;
}
.circle.circle-red {
  background-color: #b50000;
}
.circle.circle-green {
  background-color: #127315;
}

.element{
  width: 450px;
  height: 340px;
  padding-top: 0px;
  padding-right: 24px;
  padding-bottom: 0px;
  padding-left: 24px;
  margin-left: 50px;
  margin-top: 10px;
  border: 1px solid gray;
  box-shadow: 1px 1px 4px black;
}
.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.arrow.up {
  border-bottom: 10px solid #127315;
}

.arrow.down {
  border-top: 10px solid #b50000;
}

.square {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: gray;
}

.colored-text {
  color: #127315;
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
}

.custom-font {
  margin-bottom: 0 !important;
}

/* CARD HORIZONTAL*/
.card1-hor {
  display: flex;
  flex-direction: row;
  width: 550px;
  margin-left: 30px;
  margin-top: 50px;
}

.card1-hor img:first-child {
  width: 200px;
  height: 220px;
  object-fit: cover;
  margin-bottom: 20px;

}

.card1-hor h3 {
  font-size: 16px;
  font-weight: bold;
}

.txt-hor {
  margin: 10px 0 0 10px;
}

.creditos{
  display: flex;
  justify-content: flex-end;
}

.salvar {
  width: 23px !important;
  height: 23px !important;
}

.salvar:hover {
  filter: invert(75%);
}

footer{
    background-color: #239b3b;
    padding: 50px;
}
.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;

}
.footer-col ul{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;


}

.footer-col ul li{
    margin: 10px;

}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    color: #cecdcd;
    padding: 10px;
}
.footer-col .medias-socias{
    margin-top: 30px;

}
.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;


}
.footer-col .medias-socias a i{
    font-size: 20px;


}
.footer-col .medias-socias a:hover{
    color : #415aca;
    background-color: white;

}
.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: #239b3b;
}
.footer-col .form-sub input::placeholder{
    color: white;

}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;
}

@media (max-width:800px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;

    }
}
@media (max-width:600px){
    .footer-col{
        width: 100%;

    }
}
