nav {
  background-image: linear-gradient(45deg, #242424 50%, #239b3b 50%);
}

.logo {
  width: 60px;
  margin-right: 50px;
}

.layout-geral {
  display: flex;
  flex-direction: row;
}

hr {
  margin-top: 2rem !important;
  margin-left: 22px;
}

#nav1 {
  color: rgb(255, 255, 255);
  display: flex;
  font-weight: 700;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  font-size: 17.5px;
  margin-top: 6px;
  margin-left: 4px;
}

#nav1:hover {
  color: #028f02;
  border-width: 3px !important; 
  border-color: #ffffff;
}

#navbarSupportedContent {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

#btnLogin {
  height: 50px;
  margin-right: 5px;
  text-align: right;
  border-width: 2px; 
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-weight: 700;
}

#btnLogin:hover {
  border-color: rgb(0, 0, 0); 

}

#btnCadastro {
  text-align: right;
  border-width: 2px; 
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-weight: 650;

}

#btnCadastro:hover {
border-color: rgb(255, 255, 255); 
}

.form-controlC {
  display: flex;
  justify-content: center;
  width: 320px;
  margin: 0 100px 0 0;
}

.form-controlC:hover {
  border-color: rgb(36, 216, 0);
}


.imgPesq {
  margin: 2px 3px 0 0;
}


.noticias-1 {
    width: 90%;
    margin: 0 0 0 85px;
    display: flex;
  }
  
  .noticias-wraper-1 {
    display: flex;
    width: 100%;
  }
  
  .noticia-destaque {
    width: 80%;
    padding-top: 20%;
    background-color: #222;
    border: 2px solid white;
    position: relative;
  }
  
  .noticia-destaque h3{
    pointer-events: none;
  }
  
  .noticia-destaque-single {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .noticia-destaque-single img {
    width: 100%;
    height: 100%;
    display: block;
    transition: 0.3s all linear;
    left: 0;
    top: 0;
  }
  
  .noticia-destaque-single:hover img {
    scale: 1.1;
  }
  
  .noticia-destaque-single h3 {
    padding: 10px;
    color: white;
    background-color: rgb(0,0,0,0.6);
    font-weight: 700;
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
    font-size: 25px;
    z-index: 1;
  
  }
  
  /* */ 
  
  .outras-noticias-1 {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
  }
  
  .outras-noticias-1 h3 {
    pointer-events: none;
  }
  
  .outras-noticias-1-single {
    width: 90%;
    padding-top: 30%;
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    background-color: #222;
    position: relative;
  }
  
  .outras-noticias-1-single h3 {
    color: white;
    width: 100%;
    background-color: rgb(0,0,0,0.6);
    font-size: 25px;
  }
  
  .outras-noticias-2-single {
    width: 90%;
    padding-top: 30%;
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    background-color: #222;
    position: relative;
  }
  
  .outras-noticias-2-single h3 {
    color: white;
    width: 100%;
    background-color: rgb(0,0,0,0.6);
    font-size: 25px;
  }
  
  .outras-noticias-3-single {
    width: 50%;
    padding-top: 30%;
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    background-color: #222;
    position: relative;
  }
  
  .outras-noticias-3-single h3 {
    color: white;
    width: 100%;
    background-color: rgb(0,0,0,0.6);
    font-size: 25px;
  }
  
  .outras-noticias-4-single {
    width: 50%;
    padding-top: 30%;
    background-size: cover;
    background-position: center;
    border: 2px solid white;
    background-color: #222;
    position: relative;
  }
  
  .outras-noticias-4-single h3 {
    color: white;
    width: 100%;
    background-color: rgb(0,0,0,0.6);
  }
  
  /*  */
  
  .container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .card {
    width: 500px;
    border-radius: 3px;
    padding: 0;
    overflow: hidden;
    position: relative;
  }
  
  .card .zoom {
    width: 100%;
    display:  block;
    transition: all 0.1s ease-in-out; 
  }
  
  .card:hover .zoom {
    scale: 1.1;
  }
  
  .card h4 {
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 20%;
  }

  /* MODAL TIMES */
  .times {
    width: 264px; 
    height: 395px; 
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 15px;
    border-radius: 4.5px;
    margin-left: 6%;
    position: absolute;
    z-index: 2;
  }

  .header-time {
    display: flex; 
    justify-content: center;
  }

  .L-time {
    border: 1px solid rgba(0,0,0,.1);
    margin-top: 20px; 
    width: 78px; 
    justify-content: center; 
    display: flex; 
    padding: 2px;
    border-radius: 2px;
    font-weight: 750;
    color: rgba(0, 0, 0, 0.514);
    text-transform: uppercase;
  }

  .times-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .times-grid img {
    width: 50px;
    margin-top: 5px;
  }

  #triangulo-para-cima {
    width: 0; 
    height: 0; 
    border-left: 18px solid;
    border-right: 18px solid;
    border-bottom: 18px solid rgb(255, 255, 255);
    position: absolute;
    top: 7.1%;
    left: 7.3%;
  }