* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

nav {
  background-color: rgba(0, 141, 24, 0.856);
}

.logo {
  width: 60px;
  margin-right: 50px;
}

#nav1 {
  color: rgb(255, 255, 255);
  display: flex;
  font-weight: 700;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  font-size: 17.5px;
  margin-top: 6px;
  margin-left: 4px;
}

#nav1:hover {
  color: rgb(2, 143, 2);
  border-width: 3px !important; 
  border-color: #ffffff;
}

#navbarSupportedContent {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

#btnLogin {
  text-align: right;
  border-width: 2px; 
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-weight: 700;
}

#btnLogin:hover {
  border-color: rgb(0, 0, 0); 

}

#btnCadastro {
  text-align: right;
  border-width: 2px; 
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-weight: 650;

}

#btnCadastro:hover {
border-color: rgb(255, 255, 255); 
}

.form-controlC {
  display: flex;
  justify-content: center;
  width: 320px;
  margin: 0 100px 0 0;
}

.form-controlC:hover {
  border-color: rgb(36, 216, 0);
}


.imgPesq {
  margin: 2px 3px 0 0;
}


/* SEARCH BAR */   
  .box{
    width: 10px;
    height: 50px;
  }
  
  .container-2{
    width: 20px;
    vertical-align: middle;
    white-space:nowrap;
    position:relative;
  }
  
  .container-2 input#search{
    width: 20px;
    height: 40px;
    background: #ffffff;
    border:none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 35px;
    border-radius: 5px;
    color: #000000;
    transition: width .55s ease;
    margin-top: 6px;
  }

  
  .container-2 .icon{
    position: absolute;
    margin-left: 10px;
    margin-top: 14px;
    z-index: 1;
    color: #000000;
  }


  .container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 300px;
  }
  
  .container-2:hover input#search{
    width: 300px;
  }
  
  .container-2:hover .icon{
    color: #000000;
  }

.topN {
  margin: 0 0 15px 20px;
  color: rgba(0,0,0,.8);
  font-size: 28px;
}

/* ASSINATURA */
.assinaturaDiv {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.assinatura h3 {
  font-size: 25px;
  margin-top: 5px;
  margin-left: 18px;
}

.assinatura button {
  margin-left: 18px;
}


/* NOTÍCIAS */
.noticias-1 {
  width: 90%;
  margin: 0 0 0 85px;
}

.noticias-wraper-1 {
  display: flex;
  width: 100%;
  
}

.noticia-destaque {
  width: 80%;
  padding-top: 20%;
  background-color: #222;
  border: 2px solid white;
  position: relative;
}

.noticia-destaque h3{
  pointer-events: none;
}

.noticia-destaque-single {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.noticia-destaque-single h3 {
  padding: 10px;
  color: white;
  background-color: rgb(0,0,0,0.6);
  font-weight: 700;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.outras-noticias-1 {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  
}

.outras-noticias-1 h3 {
  pointer-events: none;
}

.outras-noticias-1-single {
  width: 90%;
  padding-top: 30%;
  background-size: cover;
  background-position: center;
  border: 2px solid white;
  background-color: #222;
  position: relative;
  background-image: url('https://oneftbl-cms.imgix.net/https%3A%2F%2Fwp-images.onefootball.com%2Fwp-content%2Fuploads%2Fsites%2F13%2F2023%2F08%2FGetafe-CF-v-FC-Barcelona-LaLiga-EA-Sports-1692962490-1000x750.jpg?auto=format%2Ccompress&crop=faces&dpr=2&fit=crop&h=630&q=25&w=840&s=0564c172eb0040294bcdd3e1d7e48131');
}

.outras-noticias-1-single h3 {
  color: white;
  width: 100%;
  background-color: rgb(0,0,0,0.6);
}

.outras-noticias-2-single {
  width: 90%;
  padding-top: 30%;
  background-size: cover;
  background-position: center;
  border: 2px solid white;
  background-color: #222;
  position: relative;
}

.outras-noticias-2-single h3 {
  color: white;
  width: 100%;
  background-color: rgb(0,0,0,0.6);
}

.outras-noticias-3-single {
  width: 50%;
  padding-top: 30%;
  background-size: cover;
  background-position: center;
  border: 2px solid white;
  background-color: #222;
  position: relative;
}

.outras-noticias-3-single h3 {
  color: white;
  width: 100%;
  background-color: rgb(0,0,0,0.6);
}

.outras-noticias-4-single {
  width: 50%;
  padding-top: 30%;
  background-size: cover;
  background-position: center;
  border: 2px solid white;
  background-color: #222;
  position: relative;
}

.outras-noticias-4-single h3 {
  color: white;
  width: 100%;
  background-color: rgb(0,0,0,0.6);
}

/* EFEITO ZOOM */

.noticia-destaque-single {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.noticia-destaque-single:hover {
	z-index: 10;
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
  border: 1px solid white;
}

.outras-noticias-1-single {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.outras-noticias-1-single:hover {
	z-index: 10;
  -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.outras-noticias-2-single {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.outras-noticias-2-single:hover {
  z-index: 10;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.outras-noticias-3-single {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.outras-noticias-3-single:hover {
  z-index: 10;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.outras-noticias-4-single {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.outras-noticias-4-single:hover {
  z-index: 10;
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.outras-noticias-1 h3 {
	color: #ffffff;
	font-weight: 700;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

/* CARDS NOTÍCIAS */
.cardN {
  width: 14%;
  margin: 15px 100px 5px 0;
}

.containerCard {
  width: 100%;
}

.cardN img {
  width: 100%;
  border-radius: 2%;
}

.cardN h5, p {
  color: #000000;
	font-weight: 700;
  margin: 5px 0 0 5px;
  font-size: 17px;
}