@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&disp");
/* NAVBAR */
body {
  background-color: #242424 !important;
}

nav {
  background-color: #239b3b;
}

.logo {
  width: 60px;
  margin-right: 50px;
}

.layout-geral {
  display: flex;
  flex-direction: row;
}

hr {
  margin-top: 2rem !important;
  margin-left: 22px;
}

#nav1 {
  color: rgb(255, 255, 255);
  display: flex;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  font-size: 17.5px;
  margin-top: 6px;
  margin-left: 4px;
}

#nav1:hover {
  color: #239b3b;
  border-width: 3px !important;
  border-color: #ffffff;
}

#escudo {
  color: rgb(255, 255, 255);
  display: flex;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  font-size: 17.5px;
  margin-top: 6px;
  margin-left: 4px;
}

#escudo:hover {
  color: #239b3b;
  border-width: 3px !important;
  border-color: #ffffff;
}

#navbarSupportedContent {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

#btnLogin {
  height: 50px;
  margin-right: 5px;
  text-align: right;
  border-width: 2px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-weight: 700;
}

#btnLogin:hover {
  border-color: rgb(0, 0, 0);
}

#btnCadastro {
  text-align: right;
  border-width: 2px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-weight: 650;
}

#btnCadastro:hover {
  border-color: rgb(255, 255, 255);
}

.form-controlC {
  display: flex;
  justify-content: center;
  width: 320px;
  margin: 0 100px 0 0;
}

.form-controlC:hover {
  border-color: rgb(36, 216, 0);
}

.imgPesq {
  margin: 2px 3px 0 0;
}

/* SEARCH BAR */
.box {
  width: 10px;
  height: 50px;
}

.container-2 {
  width: 20px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

.container-2 input#search {
  width: 10px;
  height: 40px;
  background: #ffffff;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 35px;
  border-radius: 5px;
  color: #000000;
  transition: width 0.55s ease;
  margin-top: 6px;
}

.container-2 .icon {
  position: absolute;
  margin-left: 10px;
  margin-top: 14px;
  z-index: 1;
  color: #000000;
}

.container-2 input#search:focus, .container-2 input#search:active {
  outline: none;
  width: 250px;
}

.container-2:hover input#search {
  width: 250px;
}

.container-2:hover .icon {
  color: #000000;
}

.topN {
  margin: 0 0 15px 20px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 28px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* LOGIN */
.area-Login {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.Login {
  background-color: #ffffff;
  border-radius: 20px;
  width: 500px;
  padding: 35px;
  flex-direction: column;
  display: flex;
  align-items: center;
  box-shadow: rgba(1, 192, 33, 0.562) 5px 5px, rgba(10, 218, 44, 0.432) 10px 10px, rgba(44, 247, 78, 0.795) 15px 15px, rgba(7, 243, 46, 0.514) 20px 20px, rgba(16, 230, 52, 0.432) 25px 25px;
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.Login form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.Login input {
  margin-top: 10px;
  background-color: #ffffff;
  padding-left: 10px;
  color: rgba(78, 78, 78, 0.4392156863);
  height: 45px;
  outline: none;
  border-radius: 8px;
  border: 1px solid;
}

.input-submit {
  margin-top: 10px;
  background-color: #ffffff;
  padding-left: 10px;
  color: rgba(78, 78, 78, 0.4392156863);
  height: 45px;
  outline: none;
  border-radius: 8px;
  border: none !important;
  color: #fff !important;
}

.Login p {
  margin-top: 10px;
}

.Login img {
  width: 200px;
  height: 200px;
}

input::-moz-placeholder {
  color: #000000;
  font-size: 14px;
}

input::placeholder {
  color: #000000;
  font-size: 14px;
}

form [type=submit] {
  display: block;
  background-color: rgba(55, 189, 50, 0.9333333333);
  font-size: 20px;
  text-transform: uppercase;
  font-family: bold;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

form [type=submit]:hover {
  background-color: rgba(61, 184, 57, 0.7450980392);
}

p {
  color: black;
  margin-left: 45px;
}

a {
  color: #5568FE;
}

/* FOOTER */
footer {
  background-color: #239b3b;
  padding: 50px 35px 20px 35px;
  width: 100%;
  margin-top: 7%;
  bottom: 0;
  left: 0;
}

.container-footer {
  max-width: 1400px;
  margin: auto;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col ul {
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #cecdcd;
}

.container-footer .medias-socias {
  margin-top: 30px;
}

.container-footer .medias-socias a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  transition: all 0 0.5s ease;
}

.container-footer .medias-socias a i {
  font-size: 20px;
}

.container-footer .medias-socias a:hover {
  color: rgba(15, 73, 0, 0.8078431373);
  background-color: white;
}

.footer-col .form-sub input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid white;
  color: white;
  background-color: #239b3b;
}

.footer-col .form-sub input::-moz-placeholder {
  color: white;
}

.footer-col .form-sub input::placeholder {
  color: white;
}

.footer-col .form-sub button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  background-color: white;
  transition: all 0.2s ease;
}

button:active {
  transform: scale(0.96);
}

.footer-col .form-sub button:hover {
  background-color: rgb(216, 216, 216);
}

@media (max-width: 800px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .footer-col {
    width: 100%;
  }
}/*# sourceMappingURL=login.css.map */