.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .teams {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .teams img {
    height: 30px;
    margin-right: 10px;
  }
  