<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<style>
  .element {
  width: 450px;
  height: 340px;
  padding-top: 0px;
  padding-right: 24px;
  padding-bottom: 0px;
  padding-left: 24px;
  margin-left: 50px;
  margin-top: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.element:first-child {
  margin-top: 15px;
}
</style>
<body>
    <div class="element">
        <div style="display: flex;flex-direction: column;">
            <h2>Blogs</h2>
            <hr>
            <p>blog do mansur</p>
            <p>Aviolencia como rotina num futebol acado, á espera da tragédia anunciada</p>
            <img src="css/mansur">

</body>
</html>