 <div class="element-blogs">
    <div style="display: flex;flex-direction: column;">
      <div>
        <!--Primeiro Blog-->
        <div class="bolgs"><b>Blogs</b></div>
        <hr>

        <div
          style="font-size: 15px; font-weight: 600;latter-spacing: -0.75; line-height: 20px; color: rgb(51, 51, 51); margin-bottom: 0.5rem; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
          Blog do Rodrigo Coutinho</div>

        <a href="#" class="fonte-cor">Nada muito além do óbvio no Magestoso</a>


        <a href="#">
          <img src="css/rodrigo.webp" width="94" height="94" alt="Rodrigo Coutinho" style="float: right; margin: -25px 0px 0px 1rem; border-radius: 50%;"></a>
        <br>
        <br>
        <br>
      </div>

      <!--Segundo Blog-->
     <hr>
      <br>
      <div
        style="font-size: 15px; font-weight: 600;latter-spacing: -0.75; line-height: 20px; color: rgb(51, 51, 51); margin-bottom: 0.5rem; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Vida Real
        </div>

      <a href="#" class="fonte-cor">Pronto para a vaga direta </a>

      <a href="#">
        <img src="css/mauricio.png" width="94" height="94" alt="Rodrigo Coutinho" style="float: right; margin: -55px 0px 0px 1rem; border-radius: 50%;"></a>

      <!--Terceiro Blog-->
      <br>
      <br>
      <div
        style="font-size: 15px; font-weight: 600;latter-spacing: -0.75; line-height: 20px; color: rgb(51, 51, 51); margin-bottom: 0.5rem; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Entre as canetas
        </div>

      <a href="#" class="fonte-cor">Diniz é ótimo e está vivo.Mas não é perfeito </a>

      <div class="icon">
        <img src="css/ric-gonz.png" width="94" height="94" alt="Rodrigo Coutinho" style="float: right; margin: -55px 0px 0px 1rem; border-radius: 50%;"></a>
        </div>
        <div class="mais-blogs">Mais Blogs
          <div class="seta">
            <img src="css/seta.png" alt="seta"></div>
        </div>
