<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <div class="icon-seta">
            <img alt="" class="seta" decoding="async" srcset="https://image-service.onefootball.com/transform?w=48&amp;dpr=2&amp;image=https://images.onefootball.com/cw/icons/simple-arrow-left-light-v2.svg 1x, https://image-service.onefootball.com/transform?w=96&amp;dpr=2&amp;image=https://images.onefootball.com/cw/icons/simple-arrow-left-light-v2.svg 2x" src="https://image-service.onefootball.com/transform?w=96&amp;dpr=2&amp;image=https://images.onefootball.com/cw/icons/simple-arrow-left-light-v2.svg" width="42" height="42" data-nimg="1" loading="lazy" style="color: transparent; --darkreader-inline-color: transparent;" data-darkreader-inline-color="">
        </div>

        <div class="dia">
            <h3>seg. 04</h3>
        </div>
    </div>
</body>
</html>